# Environments
.env
backend/.env
venv/
backend/venv/

# Python
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Django
*.sqlite3
db.sqlite3
backend/db.sqlite3
backend/media/uploads/
backend/media/verification-docs/
